@{
    ViewBag.Title = "FobosWare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Services</h2>
        <ul>
            <li><a href="#">Web-design</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">SEO optimization</a></li>
            <li><a href="#">Mobile development</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Projects</h2>
        <ul>
            <li><a href="#">Lorem ipsum dolor </a></li>
            <li><a href="#">Consectetuer adipiscing</a></li>
            <li><a href="#">Proin sed odio et ante </a></li>
            <li><a href="#">Mazim sensibus et usu</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Contacts</h2>
        <p>E-mail: <a href="#">email@email.com</a></p>
        <p>Phone: xxx-xxx-xxx</p>
        <p>Address: </p>
        <p>City: </p>
    </div>
</div>