@{
    ViewBag.Title = "FobosWare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p><img src="~/Content/images/pic01.png" width="800" height="400" alt="" /></p>
    <h2>Welcome on the site!</h2>
    <p>
        Nullam nec risus diam. Cras dapibus non mauris vel iaculis.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Mauris enim odio, ultricies at ligula nec, blandit venenatis magna.
        Sed vestibulum ullamcorper risus dictum pellentesque. Aenean dictum placerat augue, vel tincidunt massa mattis nec.
        Vivamus semper velit nec orci aliquam scelerisque. Ut id lobortis ligula.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><img src="~/Content/Images/page1_img1.jpg"/></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p><img src="~/Content/Images/page1_img3.jpg"/></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p><img src="~/Content/Images/page1_img4.jpg"/></p>
    </div>
</div>